html, body {
    font-size: 15px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetical", sans-serif;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.inline.field > label {
    font-size: 0.875em !important;
}

span.error {
    color: red;
}
