{% from 'include/sidebar.html' import render_sidebar %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/sui/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/blogfrog.css">
    <script src="/static/sui/javascript/semantic.min.js"></script>
</head>
<body>
    <div class="ui grid">
        <div class="four wide column">
            {% block sidebar %}{% endblock %}
            <div class="ui vertical menu">
                <div class="header item">
                    <i class="users icon"></i> Friends
                </div>
                <a class="item" href="#">Zuko</a>
                <a class="item" href="#">Aang</a>
                <a class="item" href="#">Katara</a>
                <a class="item" href="#">Toph</a>
            </div>
            <div class="ui vertical menu">
                <div class="header item">Find Content</div>
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Keyword search..." type="text">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Find friends..." type="text"/>
                        <i class="user icon"></i>
                    </div>
                </div>
            </div>
        </div>
				{% block content %}
            This page intentionally left blank.
        {% endblock %}
    </div>
</body>
</html>
