{% from 'include/utils.html' import render_list %}

{% macro render_sidebar(request, active) %}
    {% set items = [
        ('feed', '/feed', 'Feed'),
        ('my_profile', '/profile/' + request.user.pk|string, 'My profile'),
    ] %}

    {{ render_list(items, active) }}
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/sui/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/blogfrog.css">
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/sui/javascript/semantic.min.js"></script>
    <script src="/static/js/blogfrog.js"></script>
</head>
<body>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical menu">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="ui vertical menu">
                <div class="header item">
                    <i class="users icon"></i> Friends
                </div>
                {% for friend in request.user.friends %}
                  <a class="item" href="/profile/{{ friend.pk }}">{{ friend.name }}</a>
                {% endfor %}
            </div>
            <div class="ui vertical menu">
                <div class="header item">Find Content</div>
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Keyword search..." type="text">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Find friends..." type="text"/>
                        <i class="user icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
            This page intentionally left blank.
        {% endblock %}
    </div>
</body>
</html>
