{% extends 'profile_base.html' %}

{% from 'include/utils.html' import render_radio_button_group %}

{% block profile %}
    <form class="ui form segment" method="post" success="/profile/{{ request.user.id }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="field">
            <label for="name">Name:</label>
            <div class="ui left labeled input">
                <input placeholder="Name" name="name" id="name"
                    type="text" value="{{ request.user.name }}"/>
            </div>
        </div>
        <div class="field">
            <label for="about">About:</label>
            <div class="ui left labeled input">
                <textarea name="about" id="about" cols="30"
                          rows="10">{{ request.user.about }}</textarea>
            </div>
        </div>
        <div class="grouped inline fields">
            <label for="profile_visibility">Profile Visibility</label>
            {{ render_radio_button_group(
                "profile_visibility", [("True", "Public"), ("False", "Private")],
                request.user.profile_visibility|string) }}
            <div class="item">
                A <i>public</i> profile is visible to all unblocked users, while a <i>private</i> profile is visible only to those you have followed.
            </div>
        </div>
        <div><button class="ui blue submit button">Submit</button></div>
    </form>
{% endblock %}

{% block profile_menu %}
    {{ render_profile_menu(request, 'edit_profile') }}
{% endblock %}
