{% extends 'profile_base.html' %}

{% block profile %}
    <form class="ui form segment" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="field">
            <label for="display_name">Name:</label>
            <div class="ui left labeled input">
                <input placeholder="Name" name="display_name" id="display_name"
                    type="text" value="{{ request.user.name }}"/>
            </div>
        </div>
        <div class="field">
            <label for="about">About:</label>
            <div class="ui left labeled input">
                <textarea name="about" id="about" cols="30"
                          rows="10">{{ request.user.about }}</textarea>
            </div>
        </div>
        <div class="grouped inline fields">
            <label for="public">Profile Visibility</label>
            <div class="ui labeled input">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="public" id="public" type="radio">
                        <label>Public</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input name="private" type="radio">
                        <label>Private</label>
                    </div>
                </div>
                <div class="item">
                    A <i>public</i> profile is visible to all unblocked users, while a <i>private</i> profile is visible only to those you have followed.
                </div>
            </div>
        </div>
        <div><button class="ui blue submit button">Submit</button></div>
    </form>
{% endblock %}

{% block profile_menu %}
    {{ render_profile_menu(request, 'edit_profile') }}
{% endblock %}
