{% extends 'base.html' %}

{% block content %}
        <div class="twelve wide column">
            <div class="centered ui segment">
                <img class="ui medium large" src="/static/images/profile_pic.png"
                     alt=""/>
                <div class="ui section divider"></div>
                <h1 class="ui header">{{ user.name }}</h1>
                <p>{{ user.about }}</p>

                <button class="ui button">Follow</button>
                {% if user == request.user %}
                    <button id="edit_profile" class="ui button">Edit profile</button>
                {% endif %}
            </div>
            <div class="ui feed segment">
                <h2 class="ui header">Recent Activity</h2>
                <div class="event">
                    <div class="label">
                        <i class="circular add icon"></i>
                    </div>
                    <div class="content">
                        <div class="date">2 minutes ago</div>
                        <div class="summary"><a href="/profile/1">Iroh</a> followed <a href="/profile/2">Zuko</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block sidebar %}
    {{ render_sidebar(request, 'my_profile' if user == request.user else 'profile') }} <!-- FIXME: this is ugly -->
{% endblock %}
